<div class="request-container">
  <form [formGroup]="form" class="form-section">
    @let errors = errorMessages$ | async;
    <mat-form-field>
      <mat-label>weight</mat-label>
      <input type="number" matInput min="1" max="100" formControlName="weight" />
      @if (errors?.['weight']) {
        <mat-error>{{ errors?.['weight'] }}</mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label>color</mat-label>
      <mat-select formControlName="color">
        @for (color of Object.values(EColors); track color) {
          <mat-option [value]="color">{{ color }}</mat-option>
        }
      </mat-select>
      @if (errors?.['color']) {
        <mat-error>{{ errors?.['color'] }}</mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label>age</mat-label>
      <input type="number" min="1" max="20" matInput formControlName="age" />
      @if (errors?.['age']) {
        <mat-error>{{ errors?.['age'] }}</mat-error>
      }
    </mat-form-field>
    <mat-checkbox formControlName="firstAdoption"><mat-label>Is it your first adoption?</mat-label></mat-checkbox>
  </form>
  <div class="button-container">
    @if (submitStatus() === 'pristine') {
      <button (click)="onSubmit()" type="submit" [disabled]="!form.valid" mat-flat-button>SUBMIT</button>
    } @else if (submitStatus() === 'processing') {
      <mat-spinner/>
    } @else if (submitStatus() === 'success') {
      <h3 @fadeOut>Your adoption request has been registered in the system.</h3>
    }
  </div>
</div>

